.btn {
    background-color: #222;
    color: #fff;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    font-size: 1em;
    width: 50%;
    border-radius: 10px;
    margin: 10px 100px;
}

.btn:hover {
    color: #ffbb33;
    font-weight: bold;
}
